* {
  margin: 0;
}

body {
  font-family: 'Courier New', sans-serif;
  background-color: black;
  color: white;
}

audio {
  height: 25px;
  width: 300px;
}

audio::-webkit-media-controls-panel {
  margin-bottom: -50px;
  margin-right: -20px;
  padding-bottom: 50px;
  height: 100%;
  background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 130%);
  color: whitesmoke;
}

audio::-webkit-media-controls-timeline-container,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-return-to-realtime-button {
  color: whitesmoke;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.form {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.level-container {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

.level-container > * {
  padding: 10px;
  margin: 10px;
  flex: 1 100%;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .flex-child-left {
    order: 1;
  }
  .flex-child-right {
    order: 2;
  }
}

@media all and (min-width: 600px) {
  .item {
    flex: 1;
  }
}

.flex-child-left {
  flex: 1;
  /* border: 2px solid white; */
  /* background-image: url('matrix-background.jpg'); */
  position: relative;
  background-image: url('background-slow.gif');
  text-align: left;
}

.flex-child-right {
  flex: 1;
  position: relative;
  background-image: url('background-slow.gif');
}

.flex-child-left:first-child {
  margin-right: 5px;
}

#textbox {
  width: 85%;
  border: 5px solid rgb(81, 83, 81);
  text-shadow: 0 0 5px #c8c8c8;
  padding: 20px;
  margin: 20px;
}

#textbox-table {
  border: 2px solid rgba(244, 248, 244, 0.241);
  background-color: rgba(0, 0, 0, 0.536);
  padding: 20px;
  margin: 10px;
  height: 350px;
  width: 600px;
  overflow-y: scroll;
  overflow-x: scroll;
}

/*table rendering*/
table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px white;
  background-color: black;
}

th,
td {
  padding: 5px;
}

#pre-render {
  visibility: hidden;
  background-color: white;
}

/* BUTTONS */
/*
button {
  display: inline-block;
  /* padding: 0.35em 1.2em; */
/* border: 0.1em solid #e9e7e7b6; */
/* margin: 0; */
/* border-radius: 0.12em; */
/* box-sizing: border-box; */
/* text-decoration: auto; */
/* font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: rgba(0, 255, 0, 0.673);
  background-color: rgba(0, 0, 0, 0.755);
  text-align: center;
  transition: all 0.2s;
} */
/* :focus {
    outline: -webkit-focus-ring-color unset 1px;
} */

/* button:hover {
  color: #008802a6;
  /* color: black; */
/* background-color: black; */
/* }  */

/* typedJs text box - home page*/
.text-editor-home {
  display: block;
  margin: auto;
  max-width: 530px;
  border-radius: 10px;
  box-shadow: rgba(92, 91, 91, 0.8) 0px 20px 70px;
  clear: both;
  overflow: hidden;
}

.text-body-home {
  height: 250px;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 10px;
  color: #f0f0f0;
  font-family: 'Consolas', 'Courier New', 'Courier';
  font-size: 1 em;
  font-style: italic;
  line-height: 1.4em;
  text-align: left;
}

/* typedJs text box -level page */
.text-editor-wrap {
  display: flex;
  margin: auto;
  height: 400px;
  max-width: 530px;
  border-radius: 10px;
  box-shadow: rgba(92, 91, 91, 0.8) 0px 20px 70px;
  clear: both;
  overflow: hidden;
}

.title-bar {
  padding: 2px 0;
  font-family: 'Lucida Grande', sans-serif;
  font-size: 10px;
  color: #000000;
  text-align: center;
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(top, #e8e8e8, #bcbbbc);
  background-image: -moz-linear-gradient(top, #e8e8e8, #bcbbbc);
  background-image: linear-gradient(top, #e8e8e8, #bcbbbc);
  box-shadow: inset rgba(255, 255, 255, 0.7) 0px 1px 1px;
  border-bottom: #6a6a6a 1px solid;
}

.text-body {
  height: 400px;
  background-color: rgba(0, 0, 0, 0.85);
  block-size: 350px;
  color: #f0f0f0;
  font-family: 'Consolas', 'Courier New', 'Courier';
  font-size: 1 em;
  font-style: italic;
  line-height: 1.4em;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.text-body-flex-top {
  background-color: violet;
}
.text-body-flex-bottom {
  background-color: yellow;
}

.texts {
  width: auto;
  height: 300px;
}

/* submit answer field */
input[type='text'] {
  background-repeat: no-repeat;
  border: none;
  background-color: rgba(5, 5, 5, 0.618);
  color: white;
  font-family: 'Courier New';
  outline: none;
  align-self: flex-start;
  height: 40px;
}

embed {
  justify-self: center;
  max-width: 100%;
}

#hint-button {
  font-family: 'Courier New', EmptyFont2;
  font-size: 50px;
}

#clue {
  max-width: 100%;
  max-height: 250px;
}

#app {
  margin: auto;
}

/* victory screen */
#victory {
  background-image: url('https://media.giphy.com/media/g9582DNuQppxC/giphy.gif');
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#transition {
  background-image: url('https://images.pexels.com/photos/162389/lost-places-old-decay-ruin-162389.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  position: fixed;
  right: 0;
  bottom: 0;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
}

#transition2 {
  background-image: url('https://images.pexels.com/photos/2157191/pexels-photo-2157191.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  position: fixed;
  right: 0;
  bottom: 0;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
}

/* react-bootstrap css */
.center {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

button {
  background-color: black;
  color: whitesmoke;
  size: 10px;
}

.unlock {
  width: 70px;
  height: 30px;
}

.input-box {
  background-color: rgba(5, 5, 5, 0.618);
}
